#centre {

border:1px solid #202020;

border-bottom:0;

border-top:0;

color:#000;

padding:1.5em;
height:430px;
}



#fieldset1{
width:95%;
margin-bottom:20px;

border:5px solid gray;
	
	
}
#conteneur {

background-color:#fafafa;

margin:1em 10%;

min-width:60em;

position:absolute;

width:80%;


}



#haut {

background-color:#CFDEFF;

height:2.8em;

max-height:2.8em;

}



#header {

background:url(images/head.jpg);

border:none;

color:#fafafa;

height:7em;

padding-left:2em;

padding-top:1em;

}

#logo{

font-size:2em;

float:left;

padding-top:26px;



}

#logout{

font-size:1em;

float:right;

margin-right:50px;



}

#logout a

{

text-decoration:none;

color:#eee;

}

#logout a:hover

{

text-decoration: underline;

color: #FF0000;

}



#pied {

border:1px solid #202020;

border-top:0;

padding:0.5em;

text-align:center;
background:url(images/foot.jpg);
color:#fff;

}
#pied a{
color:#fff;	
}

#pied a:hover{
color:orange;	
}

.menuhaut {

font-size:1em;

list-style-type:none;

margin:0;

padding:0;

}



.menuhaut a {

color:#fafafa;

margin:0 0.4em;

text-decoration:none;

}



.menuhaut a:hover {

color:#FF0;

text-decoration:none;

}



.menuhaut li {

border-right:1px solid #fff;

display:inline;

float:left;

margin:0;

padding:0.6em 10px;

}



a {

color:#000;

text-decoration:none;

}



body {

background-color:#FFFFFF;

font-family:Verdana, Arial, Helvetica, sans-serif;

font-size:0.75em;

}



h1 {

font-size:1.6em;

margin:0.5em 0.5em 1em 0;

}



h2 {

font-size:1.2em;

margin:0.8em 0.5em 0.3em 0.6em;

}



h3 {

font-size:1.1em;

margin:0.8em 0.5em 0.3em 0.8em;

}



h4 {

font-size:1em;

margin:0.7em 0.5em 0.3em 1em;

}



h5 {

font-size:0.9em;

margin:0.6em 0.5em 0.2em 1.5em;

}



p {

margin:1px 0.5em 0.5em 1.5em;

}





