 img {
display: inline-block;
height: auto;
max-width: 100%;
}
.navbar-custom1 {
    color: #FFFFFF;
    background-color: #ae0202;
	border-color:#ae0202;
	border-radius:0px;
}
.navbar-inverse .navbar-nav>li>a{color:#fff;}




.navbar-custom1 .navbar-nav > li > a:hover,

.navbar-custom1 .navbar-nav > li > a:focus {
  background-color: #ED1C24;
  color: #ffffff;
}
.navbar-custom1 .navbar-nav  > li > a:active{
  background-color: #ED1C24;
  color: #ffffff;
}


.btn-success{
color:#fff;
background-color:#0f590b;
border-color:#0f590b;
}

.panel-primary{
border-color: #ae0202;
}
.panel-primary>.panel-heading {
    color: #fff;
    background-color: #ae0202;
    border-color: #ae0202;
}






.full {
    width: 100%;	
}
.gap {
	height: 30px;
	width: 100%;
	clear: both;
	display: block;
}
.footer {
	background: #EDEFF1;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
}
.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}
.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: #54697E;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #7F8C8D;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #78828D
}
.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
	background: #FFFFFF;
	display: inline-block;
	float: left;
	height: 30px;
	clear: both;
	width: 100%;
}
.newsletter-box .btn {
	border: medium none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	height: 40px;
	padding: 0;
	width: 100%;
	color: #fff;
}
.newsletter-box {
	overflow: hidden;
}
.bg-gray {
	background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
	box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
	background: none repeat scroll 0 0 #B5B5B5;
	border: 2px solid #B5B5B5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}
.social li a {
	color: #EDEFF1;
}
.social li:hover {
	border: 2px solid #2c3e50;
	background: #2c3e50;
}
.social li a i {
	font-size: 16px;
	margin: 0 0 0 5px;
	color: #EDEFF1 !important;
}
.footer-bottom {
	background: #EDEFF1;
	border-top: 1px solid #EDEFF1;
	padding-top: 10px;
	padding-bottom: 10px;
	color:#7F8C8D;
}
.footer-bottom a:hover{color:red;text-decoration:none;}
.header1{
background: #0f590b;
	border-top: 1px solid #013974;
	padding-top: 10px;
	padding-bottom: 10px;
	color:#fff;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
}
.footer-bottom a{
	color:#7F8C8D;
	
}

.payments {
	font-size: 1.5em;	
}
p{
text-align:justify;
}

.spacer5{ height: 5px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
 .spacer10 { height: 10px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer15 { height: 15px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer20 { height: 20px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer25 { height: 25px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer30 { height: 30px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer35 { height: 35px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer40 { height: 40px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer45 { height: 45px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer50 { height: 50px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer100 { height: 100px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer200 { height: 200px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }




		
#step-holder {
font-family: Tahoma;
	height:39px;
	margin-bottom: 20px;
}	




.step-no {
	float:left;
	height:29px;
	width:18px;
	font-size: 18px;
	line-height: 18px;
	padding:10px 0 0 0;
	text-align: center;
}

.step-no-off {
	float:left;
	height:29px;
	width:18px;
	font-size: 18px;
	line-height: 18px;
	padding:10px 0 0 0;
	text-align: center;
	color:#cbcbcb;
}

.step-dark-left {
	float:left;
	 
	background: url(../images/step_dark_left.png) no-repeat;
	height:40px;
	padding:13px 15px 0 25px;
	font-size: 13px;
	color:#fff;
	font-weight: bold;
	width:177px;
	
}

.step-dark-left a{
	 
	font-size: 13px;
	color:#fff;
	font-weight: bold;
}

.step-dark-right {
	float:left;
	width:12px;
	background: url(../images/step_dark_right.png) no-repeat;
	height:39px;
}
.step-dark-round {
	float:left;
	width:8px;
	height:39px;
	background: url(../images/step_dark_round.gif) no-repeat;
}

.step-light-left {
	float:left;
	 	height:27px;
	padding:13px 15px 0 25px;
	font-size: 13px;
	background: url(../images/step_light_left.gif) no-repeat;
	height:39px;
	color:#cbcbcb;
	font-weight: bold;
	width:177px;
	
}

.step-light-left a{
	 
	 
	font-size: 13px;
 
	color:#cbcbcb;
	font-weight: bold;
}
.step-light-right {
	float:left;
	width:12px;
	background: url(../images/step_light_right.gif) no-repeat;
	height:39px;
}
.step-light-round {
	float:left;
	width:8px;
	height:39px;
	background: url(../images/step_light_round.gif) no-repeat;
}

tabs>li>a:hover {
    color: #555;
    cursor: default;
    background-color: #ae0202;
    border: 1px solid #ae0202;
    border-bottom-color: transparent;
}

.nav>li>a:hover {
    text-decoration: none;
    background-color: #ae0202;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    background-color: #ae0202;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}






